body {
  margin: 0; }

.header {
  height: 30px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; }
  .header__price {
    margin-left: 10px; }
  .header_icon {
    color: white; }

.filter {
  border-bottom: 1px solid black;
  height: 20px; }
  .filter__button {
    padding: 0 15px;
    height: 18px;
    border-radius: 9px;
    background-color: aquamarine;
    cursor: pointer; }
