body{
    margin: 0;
}
.header{
    height: 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    
    &__price {
      margin-left: 10px;
    }
    &_icon{
        color: white;
    }
}

.filter{
    border-bottom: 1px solid black;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__button {
        padding: 0 15px;
        height: 18px;;
        border-radius:  9px;
        background-color: aquamarine;
        cursor: pointer;
        margin-right: 10px;

    }

}

.content{
    display: flex;
    justify-content: center;

    &__menu{
        width: 50%;
        border-left: 1px solid lightblue;
        border-right: 1px solid lightgreen;
        padding: 10px;
    }
}
 .dish {
     width: 100%;
     height: 150px;
     box-shadow: 5px 5px 10px 0 rgba(black, .7);
     display: flex;
     margin: 10px o;
     background-color: rgba(black, .2);
     
     &__img{
         height: 100%;
     }
     &__info{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
         width: 100%;
        

         &-text{
             max-height: 80%;
             padding: 5px 10px;
             box-sizing: border-box;

         }

         &-control{ 
             width: 100%;
             bottom: 0;
             height: 20%;
             display: flex;
             justify-content: space-between;
             padding: 0 10px;
             box-sizing: border-box;
             align-items: center;

             &-button {
                 cursor: pointer;
                 background-color: lightgreen;
                 width: 100px;
                 height: 80%;
                 border-radius: 5px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }

         }

     }
 }

 .modal{
     position: fixed;
     z-index: 100;
     width: 100%;
     height: 100vh;
     background-color:rgba(black, .4);
     display: none;
     align-items: center;
     justify-content: center;

     &__window{
         width:  50%;
         height: 300px;
         background-color: wheat;
         box-shadow: 0 0 15px 0 rgba(black, .8);
         position: relative;
         

         &-close{
             position: absolute;
             width: 40px;
             height: 40px;
             border-radius: 50%;
             border: 3px solid red;
             cursor: pointer;
             top: -20px;
             right: -20px;
             display: flex;
             justify-content: center;
             align-items: center;
             background-color: wheat;
             i{
                 color: red;
                 font-size: 20px;
                 float:right;
                 display:none;
                 padding:2px 5px;
                 background:#ccc;
        
             }
         }
         &-item{
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             height: 100%;
         }
     }
 }


 .info{
     display: flex;
    align-items: center;
     &__img{
         width: 30%
     }
     
     &__description{
         margin-left: 10px
     }
 }
 .action{
     display: flex;
     justify-content: space-between;
     padding: 20px 10px; 
     
     &__price{
         display: flex;
         flex-direction: column;
     }
     &__confirm{
         display: flex;
         align-items: center;
         .counter{
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80px;

             &__action{
                 cursor: pointer;
                 font-weight: bold;
                 font-size: 20px;

             }
             &__inp{
                 outline: none;  //<!--убирает обводку-->
                 height: 25px;
                 width: 30px;
                 text-align: center;
                 border-radius: 3px;
                 border: 1px solid black;
             }
         }
         .confirm-button{
             height: 30px;
             padding: 0 15px;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
             background-color: aquamarine
         }
     }
 }